---
- name: Installer les paquets nécessaires
  apt:
    name:
      - fail2ban
      - vim
      - curl
      - net-tools
    state: present
    update_cache: yes

- name: Définir le niveau de log SSH en mode VERBOSE
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^LogLevel'
    line: 'LogLevel VERBOSE'
    create: yes
    backup: yes

  notify: Restart SSH

- name: Déployer la configuration Fail2ban
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'

  notify: Restart Fail2ban
