# OVH API credentials for Certbot DNS challenge
dns_ovh_endpoint = ovh-eu
dns_ovh_application_key = 282441dfd9bb77d1
dns_ovh_application_secret = 2f73274fa384bc38228263df8310fbbd
dns_ovh_consumer_key = d4822a574ca5f623e9af97e7fdb90f37