global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - '{{ terraform_outputs.bastion_ip.value }}:9100'
          - '{{ terraform_outputs.proxy_ip.value }}:9100'
          - '{{ terraform_outputs.manager_ip.value }}:9100'
          - '{{ terraform_outputs.worker1_ip.value }}:9100'
          - '{{ terraform_outputs.worker2_ip.value }}:9100'
          - '{{ terraform_outputs.monitoring_ip.value }}:9100'
          - '{{ terraform_outputs.facnet_ip.value }}:9100'

  - job_name: 'cloudwatch_exporter'
    static_configs:
      - targets:
          - 'cloudwatch-exporter:9106'

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

rule_files:
  - "/etc/prometheus/alert.rules.yml"

