---
- name: Installer Nginx, ModSecurity v3 et utilitaires
  ansible.builtin.apt:
    name:
      - nginx
      - libnginx-mod-http-modsecurity   # nouveau nom du module
      - libmodsecurity3                 # moteur ModSecurity v3
      - fail2ban
      - curl
      - git
    state: present
    update_cache: true

# --- Installer OWASP CRS ---
- name: Vérifier si le répertoire CRS existe
  ansible.builtin.stat:
    path: /usr/share/modsecurity-crs/rules
  register: crs_dir

- name: Télécharger OWASP CRS depuis GitHub (si absent)
  ansible.builtin.git:
    repo: https://github.com/coreruleset/coreruleset.git
    dest: /usr/share/modsecurity-crs
    version: v3.3.5
  when: not crs_dir.stat.exists

- name: Supprimer la configuration par défaut
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  ignore_errors: true

- name: Déployer la configuration principale de Nginx
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Nginx

- name: Déployer la configuration ModSecurity
  template:
    src: modsecurity.conf.j2
    dest: /etc/nginx/modsecurity.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Nginx

- name: Installer le Core Rule Set (OWASP CRS)
  ansible.builtin.apt:
    name: modsecurity-crs
    state: present
    update_cache: true

- name: Déployer la configuration Fail2ban pour Nginx
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
  notify: Restart Fail2ban

# --- Copier le fichier crs-setup.conf.example s'il manque ---
- name: Vérifier si le fichier crs-setup.conf existe
  ansible.builtin.stat:
    path: /usr/share/modsecurity-crs/crs-setup.conf
  register: crs_conf

- name: Copier le fichier crs-setup.conf.example vers crs-setup.conf
  ansible.builtin.copy:
    src: /usr/share/modsecurity-crs/crs-setup.conf.example
    dest: /usr/share/modsecurity-crs/crs-setup.conf
    remote_src: true
  when: not crs_conf.stat.exist_

